@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 4 ? "popular" : "";
}

<style type="">
    .popular 
    {
        color:red;
    }
</style>


<h2 class="@className">@Model.Movie.Name</h2> @*Modo classico di passare parametri alla view (Ritornando View(Model) nella action*@


@if (Model.Customers.Count==0)
{
    <p>Nessuno ha noleggiato ancora questo film!</p>
}
else
{
    <ul>
        @foreach (var item in Model.Customers)
        {
            <li>
                @item.Name;
            </li>
        }
    </ul>

}



@*<h2>@((Movie)ViewData["Movie"]).Name</h2> @*Passo il model alla view attraveros il ViewData*@

@*<h2>@((Movie)ViewBag.Movie).Name</h2> Passo il model alla view attraveros il ViewBag (tipo dynamic)*@








